.patient-info {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.patient-info.editing {
<<<<<<< HEAD
    background-color: #dd852d;
=======
    background-color: #f4f1ee;
>>>>>>> 570a2368404a6a1eaca3194fb6ae2022c7de8e68
    /* Màu sắc khi ở chế độ chỉnh sửa */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng đổ */
}

/* Các hiệu ứng và màu sắc khác có thể được thêm vào tùy thuộc vào ý muốn của bạn */