/* style.scss */

.header {
  background-color: linear-gradient(to right, #3931af, #00c6ff);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clinic {
  font-size: 24px;
  font-weight: bold;
}

.tabs {
  display: flex;
}

.tab {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 20px;
  /* Khoảng cách giữa các tab */
}

.tab:hover {
  text-decoration: underline;
}